@import url(https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,800,900,600);
* {
  position: relative;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-family: 'Raleway';
  font-weight: 400; }

a {
  text-decoration: none;
  color: inherit; }

header {
  padding-top: 120px;
  padding-bottom: 120px;
  overflow: hidden;
  background: #e6e1cf;
  background: -moz-linear-gradient(-45deg, #e6e1cf 0%, #ddd5ba 100%);
  background: -webkit-linear-gradient(-45deg, #e6e1cf 0%, #ddd5ba 100%);
  background: linear-gradient(135deg, #e6e1cf 0%, #ddd5ba 100%); }
  header img {
    width: 250px; }
    @media all and (max-width: 1024px) {
      header img {
        width: 160px; } }
  header h1 {
    font-size: 74.4px;
    color: #64585a;
    line-height: 1.1em;
    font-weight: 700; }
    @media all and (max-width: 1024px) {
      header h1 {
        font-size: 48px; } }

footer {
  font-family: Verdana;
  background-color: #64585a;
  padding-top: 72px;
  padding-bottom: 72px;
  color: #dcd4bb;
  font-size: 16.8px;
  text-shadow: 0 1px 0 black; }
  footer a {
    color: #e6e1cf;
    border-bottom: 1px dotted #e6e1cf; }
  footer a:hover {
    color: #f0eee3;
    border-bottom: 1px solid #f0eee3; }

section a {
  color: #e2725c;
  border-bottom: 1px dotted #e2725c; }
  section a:hover {
    color: #de5f46;
    border-bottom: 1px solid #de5f46; }
section p {
  margin-top: 1em;
  margin-bottom: 1em; }

.centered, h2 {
  text-align: center; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 24px;
  padding-left: 24px;
  max-width: 100%; }

.container-m {
  width: 650px; }

.container-l {
  width: 850px; }

.container-xl {
  width: 1050px; }

article {
  margin-top: 192px;
  margin-bottom: 192px; }

.small {
  font-size: 19.2px; }

h2 {
  font-weight: 600;
  color: #64585a;
  font-size: 40.8px; }

.circle {
  border-radius: 50%;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  width: 144px;
  height: 144px;
  line-height: 144px;
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 12px; }

textarea,
input {
  font-size: 24px;
  padding: 12px;
  border-radius: 4.8px;
  background-color: #e6e1cf;
  border: 0;
  font-family: 'Raleway';
  font-weight: 400; }

label {
  font-weight: inherit;
  display: block; }

.help {
  font-size: 18px;
  color: gray; }

.ico {
  color: #64585a;
  font-size: 5em; }
